
<div align="center">
  <a >
    <img src="images/impleo_logo.png" alt="Logo" >
  </a>
</div>

# MisbCoreNative Lib

**MisbCoreNative Lib** is a KLV / MISB metadata encoder / decoder compiled as a self-contained native library (Native AOT Form Factor).  
It allows easy integration of [MisbCore library](https://www.impleotv.com/content/misbcore/help/index.html) into C/C++ cross-platform applications.  

More info on [MisbCoreNative Lib](https://www.impleotv.com/content/misbcore/help/user-guide/native-lib/).  
Samples [MisbCoreNative sample apps](https://www.impleotv.com/content/misbcore-native-samples/help/).  

## System Requirements
OS: Windows x64 / Linux (x64, arm64).

## Download links

|          | Version             | Download link                                                           | 
|:---------|:-------------------:|:------------------------------------------------------------------------|
| **libmisbcore linux-x64**      |  {{version}} | [libmisbcore_{{version}}_amd64.deb](https://github.com/impleotv/misbcore-native-lib-release/releases/download/{{version}}/libmisbcore_{{version}}_amd64.deb)   | 
| **libmisbcore linux-arm64**    |  {{version}} | [libmisbcore_{{version}}_arm64.deb](https://github.com/impleotv/misbcore-native-lib-release/releases/download/{{version}}/libmisbcore_{{version}}_arm64.deb)   | 
| **libmisbcore win-x64**        |  {{version}} | [libmisbcore_{{version}}_win-x64.zip](https://github.com/impleotv/misbcore-native-lib-release/releases/download/{{version}}/libmisbcore_{{version}}_win-x64.zip) | 
| **libmisbcore C demo app**     |  {{version}} | [libmisbcore_-demo.zip](https://github.com/impleotv/misbcore-native-lib-release/releases/latest/download/MisbCoreNativeLib-demo.zip)   | 

*Released on {{date}}*


## Install with the .deb file (x64)

```
wget -O /tmp/libmisbcore.deb https://github.com/impleotv/misbcore-native-lib-release/releases/download/{{version}}/libmisbcore_{{version}}_amd64.deb  
sudo dpkg -i /tmp/libmisbcore.deb  
rm /tmp/libmisbcore.deb
```
## Install with the .deb file (arm64)

```
wget -O /tmp/libmisbcore.deb https://github.com/impleotv/misbcore-native-lib-release/releases/download/{{version}}/libmisbcore_{{version}}_arm64.deb 
sudo dpkg -i /tmp/libmisbcore.deb  
rm /tmp/libmisbcore.deb
```

Check with dpkg:  

dpkg -l | grep libmisbcore

You should see a line like:  
```
ii  libmisbcore  2.7.0 amd64 Native MISB 601 core processing library
```

Show detailed status of the package:  

```
dpkg -s libmisbcore
```




## License

**MisbCoreNative Lib** is a node-locked software. In order to get the license, please install it and fill out an [online form](https://docs.google.com/forms/d/e/1FAIpQLSd_XW6bDsFce1G1cpds4gMQNlwNax0CvkWzcMbscxZ5rLaIbA/viewform), providing the ***Node Info*** string (IMPORTANT!!!) for the target machine.  
***Node Info*** string can be obtained by calling **GetNodeInfo** method, as shown below.

```cpp
typedef char* (*getNodeInfoFunc)();

getNodeInfoFunc GetNodeInfo = (getNodeInfoFunc)funcAddr(handle, (char*)"GetNodeInfo");
char* nodeInfo = GetNodeInfo();
printf("The NodeInfo: %s \n", nodeInfo);
```
We'll send you back the **license** file and a **key**.  
You can then activate the instance by calling **Activate** method:  

```cpp
#ifdef _WIN32
    #define funcAddr GetProcAddress
    HINSTANCE handle = LoadLibraryA((char*)PathToLibrary);
#else
    #define funcAddr dlsym
    void* handle = dlopen((char*)PathToLibrary, RTLD_LAZY);
#endif

const char* PathToLicenseFile = "/home/user/Licenses/Impleo/MisbCoreNativeLicense.lic";
const char* LicenseKey = "AF596BF0-BBAB142B-1B905B24-8DA51BED";
typedef bool (*activateFunc)(char*, char*);

activateFunc Activate = (activateFunc)funcAddr(handle, (char*)"Activate");
bool fValid = Activate((char*)PathToLicenseFile, (char*)LicenseKey);
```
> For large quantities, please contact us for an **unlocked license**.
