
<div align="center">
  <a >
    <img src="images/impleo_logo.png" alt="Logo" >
  </a>
</div>

# MisbCoreNative Lib (libmisbcore)

**libmisbcore** is a KLV / MISB metadata encoder / decoder compiled as a self-contained native library (Native AOT Form Factor).  
It allows easy integration of [MisbCore library](https://www.impleotv.com/content/misbcore/help/index.html) into C/C++ cross-platform applications.  

More info on [MisbCoreNative Lib](https://www.impleotv.com/content/misbcore/help/user-guide/native-lib/).  
Samples [MisbCoreNative sample apps](https://www.impleotv.com/content/misbcore-native-samples/help/).  

## System Requirements
OS: Windows x64 / Linux (x64, arm64).

## Download links

|          | Version             | Download link                                                           | 
|:---------|:-------------------:|:------------------------------------------------------------------------|
| **libmisbcore linux-x64**      |  {{version}} | [libmisbcore_{{version}}_amd64.deb](https://github.com/impleotv/misbcore-native-lib-release/releases/download/{{version}}/libmisbcore_{{version}}_amd64.deb)   | 
| **libmisbcore linux-arm64**    |  {{version}} | [libmisbcore_{{version}}_arm64.deb](https://github.com/impleotv/misbcore-native-lib-release/releases/download/{{version}}/libmisbcore_{{version}}_arm64.deb)   | 
| **libmisbcore win-x64**        |  {{version}} | [libmisbcore_{{version}}_win-x64.zip](https://github.com/impleotv/misbcore-native-lib-release/releases/download/{{version}}/libmisbcore_{{version}}_win-x64.zip) | 
| **libmisbcore C demo app**     |  {{version}} | [libmisbcore_-demo.zip](https://github.com/impleotv/misbcore-native-lib-release/releases/latest/download/MisbCoreNativeLib-demo.zip)   | 

*Released on {{date}}*


## Install with the .deb file (x64)

```
wget -O /tmp/libmisbcore.deb https://github.com/impleotv/misbcore-native-lib-release/releases/download/{{version}}/libmisbcore_{{version}}_amd64.deb  
sudo dpkg -i /tmp/libmisbcore.deb  
rm /tmp/libmisbcore.deb
```
## Install with the .deb file (arm64)

```
wget -O /tmp/libmisbcore.deb https://github.com/impleotv/misbcore-native-lib-release/releases/download/{{version}}/libmisbcore_{{version}}_arm64.deb 
sudo dpkg -i /tmp/libmisbcore.deb  
rm /tmp/libmisbcore.deb
```

Check with dpkg:  

```
dpkg -l | grep libmisbcore
```

You should see a line like:  
```
ii  libmisbcore  2.7.0 amd64 Native MISB 601 core processing library
```

Show detailed status of the package:  

```
dpkg -s libmisbcore
```

To remove the library

```
sudo apt remove libmisbcore
```

or 

```
sudo dpkg -r libmisbcore
```

## License

**libmisbcore**  is a node-locked software. To obtain a license, install the library and complete the the [online form](https://docs.google.com/forms/d/e/1FAIpQLSd_XW6bDsFce1G1cpds4gMQNlwNax0CvkWzcMbscxZ5rLaIbA/viewform),
including the Node Info string (this is required). 

You can obtain the **Node Info** string by running the **misbcore-ni** app.

> Note: You must install the library before running the **misbcore-ni** application.  

## Download links
|                                | Download link                                                           | 
|:------------------------------:|:------------------------------------------------------------------------|
| **misbcore-ni for linux-x64**      |  [misbcore-ni_{{version}}_linux-x64](https://github.com/impleotv/misbcore-native-lib-release/releases/download/{{version}}/misbcore-ni_{{version}}_linux-x64)   | 
| **misbcore-ni for linux-arm64**    |  [misbcore-ni_{{version}}_linux-arm64](https://github.com/impleotv/misbcore-native-lib-release/releases/download/{{version}}/misbcore-ni_{{version}}_linux-arm64)   | 
| **misbcore-ni for win-x64**        |  [misbcore-ni-{{version}}_win-x64.exe](https://github.com/impleotv/misbcore-native-lib-release/releases/download/{{version}}/misbcore-ni_{{version}}_win-x64.exe) | 


Make the application executable, then run it: 

```
sudo chmod +x misbcore-ni_{{version}}_linux-x64  
./misbcore-ni_{{version}}_linux-x64
```

<div align="center">
  <a >
    <img src="images/libmisbcore-qr.png" alt="qr" >
  </a>
</div>

Please either copy and paste the Node Info string or send us a photo of the QR code.

> For large quantities, please contact us for an **unlocked license**.


## ⚠️ Antivirus False Positives on AOT-Compiled Windows Libraries 

Because the Windows library is built using Native AOT (Ahead‑of‑Time) compilation,
some antivirus products may mistakenly detect them as malware (e.g. Trojan.Win64.XLoader, W64/Agent.KHK.gen, etc.).
This is a known issue: numerous reports confirm that scanning AOT executables on Windows triggers heuristic-based false positives.
Linux does not produce antivirus alerts.

**Why this happens**  
AOT compilation produces self-contained native binaries with embedded metadata and code patterns. 
Antivirus engines on Windows often use heuristic signatures that can misidentify these patterns as malicious, even though they’re harmless 
Native AOT on Linux uses different toolchains and binary formats, and such false positives are not observed there.

**Why you can trust our builds**  
All builds are performed entirely from source on a clean GitHub-hosted virtual machine.  
At no point is malware ever introduced or presen, so any antivirus flagging must be a false positive caused by the compilation format.

**What this means for you**  
- There is no real virus in our Windows libraries, only a known issue with antivirus heuristics targeting AOT binaries.  
- We’re continuously monitoring antivirus engine improvements, but there is nothing further we can do — the false positives stem from the AOT compilation itself.

If desired, you may:
- Use **.net** library on Windows, writing a wrapper for C/C++, if needed.
- Ask for Customer-Side Compilation. While it is theoretically possible to compile the Windows libraries locally on the customer's premises, this approach involves additional costs and operational overhead.





